
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$portfolio-light-primary: mat.define-palette(mat.$indigo-palette);
$portfolio-light-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$portfolio-light-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$portfolio-light-theme: mat.define-light-theme((
  color: (
    primary: $portfolio-light-primary,
    accent: $portfolio-light-accent,
    warn: $portfolio-light-warn,
  )
));

$portfolio-dark-primary: mat.define-palette(mat.$indigo-palette);
$portfolio-dark-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$portfolio-dark-warn: mat.define-palette(mat.$red-palette);


$portfolio-dark-theme: mat.define-dark-theme((
  color: (
    primary: $portfolio-dark-primary,
    accent: $portfolio-dark-accent,
    warn: $portfolio-dark-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($portfolio-light-theme);

.dark-mode{
  @include mat.all-component-themes($portfolio-dark-theme);
}




/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// *{
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
// }